

/*This is for HTML Body*/
*{
	margin: 0;
	padding: 0; /* creates space inside of the element*/
	box-sizing: border-box; /*adjusts space inside of the element*/
}


body{
	/*background-color: pink;*/
	background-image: url("../images/background4.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	font-family: 'Josefin Sans', sans-serif;
	color: #f2f2f2; /*off white*/ 
	/*background-image: linear-gradient(rgba(300, 74, 77,.0),rgba(0,0,0,0.85)), url("../images/background4.jpg");*/
	/*This is how you overlay a gradient over an image*/

} 
/*End of body Styling*/

/* My listed Font Family
font-family: 'Manjari', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Josefin Sans', sans-serif; */
/* Start of H1 styling*/
h1 {
	font-size: 50px;
	background-color: rgba(243,146,255,.3); /* #333 off black*/
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 15px;
	border-radius: 10px;
	/*letter-spacing: 2px;*/
}
/*End of H1 styling*/

/* Start of H2 styling*/
h2{
	color: #85B7FD;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 15px;
	background-color: rgba(38,40,42,0.5);
	margin: 10px; /*margin creates spaces outside of the element*/
	padding: 10px;
	border-radius: 10px;
}

/*End of H2 styling*/

/* targets elements in boa*/
.bio {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	line-height: 1.75;
	background-color: rgba(38,40,42,0.5);
	

}

#me{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-color: #f392ff;
	border-width: 2px;
	border-style: solid;
	margin-top: 250px;
	margin-bottom: 25px;
}
/*end of bio styling*/

.container {
	width: 500px;
	text-align: center;
	margin: 0 auto; /* this will center the element horizontally*/

}


